body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
  background-image: image-url('root.jpg');
  background-color: #383838;
}

h1, h2 {
  font-weight: 100;
}

.font-cursive{
  font-family: cursive ;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-family:'Arial Black';
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

#NewTweetModal, #CommentModal {
  .modal-content {
    background-image: image-url('root.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    color: white;

    .form-group:not(:last-child) {
      @extend .mb-3;
    }
  }

  textarea {
    height: 50vh;
    width: 100%;
    resize: none;
  }
}

.top-hero-container-side {
  padding-top: 200px;
  h1 {
    font-family:'Arial Black';
    font-size: 56px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  display: inline;
  .text_field {
     height: 150px;
     width: 89vw;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.topic-index-wrapper {
  padding-top: 70px;
  .topic-index-single {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-img {
      margin-top: 10px;
      margin-bottom: 20px;
      height: 180px;
      width: 200px;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

  .txt-black {
     color: black;
  }

  .txt-white {
     color: white;
  }
  .btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.text-topic-background {
  color: #494949;/*文字色*/
  background: #cccccc;/*背景色*/
  border-left: solid 5px #2b2b2b;/*左線*/
  border-bottom: solid 3px #2b2b2b;/*下線*/
}


.navbar-transparent {
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.sidebar-wrapper {
  height: 100vh;

  @extend .d-flex;
  @extend .flex-column;
  @extend .p-3;
  @extend .border-end;
  @extend .border-white;
  @extend .border-5;
  @extend .text-white;

  ul {
    @extend .nav;
    @extend .nav-pills;
    @extend .flex-column;
    @extend .text-center;
    @extend .font-cursive;

    &.nav-upper {
      @extend .mb-auto;
    }


    li a {
      color: #fff;

      @extend .nav-link;

      &:hover {
        color: black;
        background-color: #aaf;
      }
    }
  }
}

.UserName {
  text-size: 20px;
}

.edit-link {
  text-decoration: none;
  color: #2b2b2b ;
}

.edit-link-white {
  text-decoration: none;
  color: #ffffff ;
}

.tabs {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 40px;
}

.tab_item {
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  text-align: center;
  font-weight: bold;
}
.tab_item:hover {
  opacity: 0.75;
}


input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

.tabs input:checked + label {
  background-color: #5ab4bd;
  color: #fff;
}

.chat-dm {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue", "Lucida Sans Unicode", "Arial";
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    overflow: hidden;

   .balloon {
      position: relative;
      display: inline-block;
      max-width: 100%;
      margin: 10px 20px;
      padding: 9px 14px;
      background: white;
      border-radius: 19px;
      overflow-wrap: break-word;
      clear: both;
      box-sizing: content-box;

      &.left {
          float: left;
      }
      &.right {
          float: right;
      }

      &.left::after {
          left: -22px;
          border-radius: 0 0px 10px 16px;
          box-shadow: -8px -14px 0 -8px white inset;
      }
      &.right::after {
          right: -22px;
          border-radius: 0 0px 16px 10px;
          box-shadow: 8px -14px 0 -8px white inset;
      }
    }

    .balloon::after {
        position: absolute;
        content: "";
        width:26px;
        height:26px;
        top: 5px;
    }

}

.text-strftime-left{
  float: left;
}

.text-strftime-right{
  float: right;
}

#scroll{
  height: 70vh;
  overflow: auto;
  -ms-overflow-style: none;
}

#scroll::-webkit-scrollbar {
    display:none;
}

$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.button2 {
  outline:none;
  height: 50px;
  text-align: center;
  width: 50px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:25px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
}

.text-control{
    width: 95%;
    height: 50px;
}