h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.text-white-li {
  color: #fff;
}

.text-white-li:hover {
  color: black;
  background-color: #aaf;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.li_bottom{
  margin-bottom: 80px;
}

.text_center{
  width : 400px;
  margin-bottom: 440px;
}


.top-hero-wrapper {
  min-height: 50vw;
  background-image: image-url('root.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-family:'Arial Black';
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

#exampleModal {
  .modal-content {
    background-image: image-url('root.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    color: white;
  }

  textarea#topic_description {
    height: 50vh;
    width: 100%;
    resize: none;
  }
}

.top-hero-container-side {
  padding-top: 200px;
  h1 {
    font-family:'Arial Black';
    font-size: 56px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

  .txt-black {
     color: black;
  }

  .txt-white {
     color: white;
  }
  .btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.text-topic-background {
  margin: 40px;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.navbar-transparent {
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}